.super-cta {
	text-align: left !important;
}

.comp-cta {
	letter-spacing: -0.035rem;
	margin-top: 1rem !important;
	background-color: #339E33 !important;
	border-color: #329933 !important;
}

.comp-cta:hover {
	background-color: #339933 !important;
}
